@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>
<div class="privacidad">
    <p>Todos los derechos estan adjudicados al grupo de PNT1 formado por:</p>


    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Drago, Maximiliano</h5>
                <p class="mb-1">Castelar, Buenos Aires.</p>
            </div>
            <img src="/traje-cv.png":100px;" />
    
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Gorla, Pedro</h5>
                <p class="mb-1">San Martin, Buenos Aires.</p>
            </div>
            <img src="/Pedro.png" />
            
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Kaminsky, Hernan</h5>
                <p class="mb-1">Villa Crespo, Buenos Aires.</p>
            </div>
            <img src="/hernan.png"  />
            
        </a>
    </div>
</div>
