@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Todos los derechos estan adjudicados al siguiente grupo de PNT1</p>
<ul>
    <li>Drago, Maximiliano</li>
    <li>Gorla, Pedro</li>
    <li>Kaminsky, Hernan</li>
</ul>