html {
  font-size: 14px;
  color-scheme: light dark;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../cancha/1137.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

a{
    color:black;
}

.idx-titulo {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.idx-titulo a {
        border-radius: 50%;
        padding: 10px 20px;
        background-color: darkred;
        border: 2.5px solid black;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 1rem;
    }

.idx-titulo a:hover {
            background-color: white;
            color: black;
            font-size: 1.5rem;
            border: 2.5px solid black;
            transform: scale(1.3);
        }

.table {
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #ccc;
    box-shadow: 0 8px 12px rgb(0, 0, 0);
}

.forms {
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    margin-bottom: 20px;
}

td a {
    font-weight: normal;
    font-size: 1rem;
    transition: all 0.3s;
}

    td a:hover {
        color: darkred;
        font-weight: bold;
        font-size: 1.5rem;
    }

.privacidad {
    background-color: #ffffff;
    text-align: center;
}

.list-group-item img {
    max-height: 100px;
    max-width: 100px;
    transition: transform 0.3s;
}

.list-group-item img:hover {
    transform: scale(1.2);
}